/* @font-face {
  font-family: "Josefin Sans";
  src: url("/static/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/static/JosefinSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/static/PlayfairDisplay-Regular.ttf");
} */

body {
  background: green;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  /* font-family: "Playfair Display", serif; */
  font-weight: normal;
}

/* animations */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
